Django==4.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
fdb==2.0.2
openpyxl==3.1.2
reportlab==3.6.12
django-crontab==0.7.1
gunicorn==23.0.0
python-dotenv==1.1.0
pytest-django==4.11.1
